.list .item{

    &.item-accordion {
        background: #f9f9f9;
        overflow: hidden;
        transition: 0.09s all linear;

        span {
            color: $dark !important;
            display: block;
            font-size: 20px;
            padding-bottom: 5px;
            text-overflow: initial;
            white-space: normal;

            &.item-header {
                font-size: 24px;
                line-height: 26px;
                font-weight: bold;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }

        &.ng-hide {
            line-height: 0px;
        }

        &.ng-hide-add,
        &.ng-hide-remove {
            display: block !important;
        }

    }

    &.item-dark{
        border-color: #f9f9f9;
    }
}

.item-complex.item-dark > .item-content:active,
.item-complex.item-dark > .item-content.activated {
    background-color: $assertive;
}
