.list .item.item-accordion {
    background: $calm;
    overflow: hidden;
    transition: 0.09s all linear;

    span {
        color: #fff !important;
        display: block;
        font-size: 1.2rem;
        // line-height: 1.4rem;
        padding-bottom: 5px;
        text-overflow: initial;
        white-space: normal;

        &.item-header {
            font-size: 1.4rem;
            font-weight: bold;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}


.item-complex.item-dark > .item-content:active,
.item-complex.item-dark > .item-content.activated {
    background-color: $assertive;
}
