.details {
    // height: 100%;

    .details-header {
        height: 12%;
        background: $dark;
        margin: 1% 0;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex:1;
        float: left;
        height: 100%;
        justify-content: center;
        padding: 0 0 0 7%;

        p {
            margin: 0;
        }
    }

    .list {
        height: 87%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .icon-container {
        margin-left: 2%;
        width: 20%;
        height: 100%;

        .icon {
            font-size: 2.25rem !important;
        }
    }

    .item-instructions {
        background: $assertive;
        color: #fff;
        padding: 0 0 5px;
        text-align: center;
    }

    @media screen and (min-width: 360px) {
        .icon-container {
            .icon {
                font-size: 3rem !important;
            }
        }
    }

    @media screen and (max-height: 450px) {
        .details-header {
            height: 20%;
            background: $dark;
            margin: 1px 0;
        }

        .icon-container {
            margin-left: 2%;
            width: 20%;
            height: 100%;

            .icon {
                font-size: 2.25rem !important;
            }
        }
    }
}
