.item,
.item-content,
.scroll-content {
    h1 {
        color: #fff;
        font-size: 1.6rem;
        margin-bottom: 0;
        line-height: 1;
    }

    h2 {
        color: #fff;
        font-size: 1.4rem;
    }

    h3 {
        color: #fff;
        font-size: 1.2rem;
    }

    p {
        color: #fff !important;
        font-size: 1rem;
        line-height: 1.2;
    }

    a {
        text-decoration: none;
    }

    @media screen and (min-width: 360px) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.6rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}
