<ion-view view-title="Nalit 2016"  ng-controller="InternalCtrl">
  <ion-content class="details" scroll="false" overflow-scroll="true">
    <header class="details-header">
      <div class="icon icon-container">
        <i class="icon ion-{{ data.icon }}"></i>
      </div>
      <div class="content-container">
        <h1>{{data.name}}</h1>
        <p>{{data.subText}}</p>
      </div>
      <a href="#/home" class="icon icon-close-link">
        <i class="icon icon-close ion-close-circled"></i>
      </a>
    </header>

    <ion-list>
      <!-- <ion-scroll direction="y" class="main-scroll"> -->
        <div ng-repeat="group in data.sub_items" class="details-group details-group-{{data.sub_items.length}}">

            <ion-item class="item-dark"
                      ng-click="toggleGroup(group)"
                      ng-class="{active: isGroupShown(group)}">
              <h2>{{group.title}}</h2>
              <div class="icon icon-plus-minus">
                <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
              </div>
            </ion-item>
            <div ng-if="group.instructions" ng-show="isGroupShown(group)" class="item-instructions">{{group.instructions}}</div>
            <ion-item class="item-accordion"
                      ng-repeat="item in group.list"
                      ng-show="isGroupShown(group)">

              <a href="{{item.link}}" onClick="window.open(this.href, '_blank', 'location=yes'); return false;">
                <span class="item-header">{{item.name}}</span>

                <span>
                {{item.description}}
                <span>

                <span ng-if="item.location">
                  {{item.location}}
                </span>

                <span ng-if="item.time">
                  {{item.time}}
                </span>
              </a>
            </ion-item>

        </div>
      <!-- </ion-scroll> -->
    </ion-list>
  </ion-content>
</ion-view>

<ion-content>

      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Group {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
