<ion-view view-title="Nalit 2016, Indianapolis">
  <ion-content scroll="false">
    <ion-list ng-controller="MainCtrl" class="home-menu">
      <ion-item ng-repeat="item in data"
                href="#/page/{{item.id}}"
                class="item-dark">
        <div onSwipeRight(item.id) class="item-container">
          <div class="icon icon-container">
            <i class="icon ion-{{ item.icon }}"></i>
          </div>

          <div class="content-container">
            <h1>{{ item.name }}</h1>
            <p>{{ item.subText }}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
